input:disabled{
  border: red;
}
.upload-dialog {
  width: 400px;
  max-width: 90%;
  padding: 20px;
  border-radius: 8px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.upload-dialog h2 {
  text-align: center;
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

.upload-dialog label {
  font-weight: 500;
  margin-bottom: 5px;
  color: #444;
}

.upload-dialog input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.upload-dialog .dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.upload-dialog button {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  margin-top: 5px;

}

.upload-dialog .upload-btn {
  background-color: var(--greenColor);
  color: white;
  cursor: pointer;
}

.upload-btn:disabled{
  opacity: 60%;
  cursor: not-allowed;
  pointer-events: none;
}

.upload-dialog .upload-btn:hover {
  background-color: var(--greenColor);
}

.upload-dialog .cancel-btn {
  background-color: #ccc;
  color: black;
}

.upload-dialog .cancel-btn:hover {
  background-color: #bbb;
}

.search-results-groupId {
  position: fixed;
  left: 23.3%;
  top: 81%;
  margin-left: 15%;
  border-radius: 10px;
  width: 200px;
  max-height: 150px;
  overflow-y: auto;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.search-results-role {
  position: fixed;
  left: 23.3%;
  top: 71%;
  margin-left: 15%;
  border-radius: 10px;
  width: 200px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.search-box {
  padding: 5px;
  font-size: 12pt;
  justify-content: space-between; /* Elemente nach links & rechts verteilen */
  display: flex;
}

.search-box:hover {
  background: lightgray;
  cursor: pointer;
}
