<div class="upload-dialog">
  <h2>Edit Group</h2>
  <form (submit)="updateUser()">

    <label>Add user to group:</label>
    <select class="select" #userSelect (change)="onSelectUsersToAdd(userSelect.value)">
      <option value="" disabled selected></option>
      @for (user of allUsersToAdd; track user) {
        <option>
          {{ user }}
        </option>
      }
    </select>

    <label>Remove user from group:</label>
    <select class="select" #userToRemoveSelect (change)="onSelectUsersToRemove(userToRemoveSelect.value)">
      <option value="" disabled selected></option>
      @for (user of allUsersToRemove; track user) {
        <option>
          {{ user }}
        </option>
      }
    </select>
    <button type="submit" class="upload-btn">Update</button>
    <button type="button" class="cancel-btn" (click)="closeDialog()">Cancel</button>
  </form>
</div>
