<div class="upload-dialog">
  <h2>Resource Upload</h2>
  <form (submit)="uploadResource()">

    <label>RepoId:</label>
    <select class="select" #repoSelect (change)="onSelectRepo(repoSelect.value)">
      <option value="" disabled selected></option>
      @for (repo of allRepos; track repo) {
        <option>
          {{ repo }}
        </option>
      }
    </select>

    <label>Category:</label>
    <input class="input-pupUp" name="category" type="text" [(ngModel)]="category" required/>

    <label>TagIds:</label>
    <select class="select" #tagSelect (change)="onSelectTag(tagSelect.value)" [disabled]="!repoId || allTags.length < 1">
      <option value="" disabled selected></option>
      @for (tag of allTags; track tag) {
        <option>
          {{ tag }}
        </option>
      }
      <option value="custom">More...</option>
    </select>

    @if (tagSelect.value === 'custom') {
      <input class="input-pupUp" type="text" (input)="onSelectTag(customTags)" placeholder="Enter custom path" [(ngModel)]="customTags"
             [ngModelOptions]="{standalone: true}"/>
    }


    <button type="submit" class="upload-btn">Upload</button>
    <button type="button" class="cancel-btn" (click)="closeDialog()">Cancel</button>
  </form>
</div>
