<div class="upload-dialog">
  <h2>Edit Tags {{ this.dialogData.repoId }}</h2>
  <form (submit)="onEditTags()">

    <label>TagId to add:</label>
    <input class="input-pupUp" name="addTagIds" type="text" [(ngModel)]="tagIdsToAdd" autocomplete="off"/>

    <label>TagName to add:</label>
    <input class="input-pupUp" name="addTagNames" type="text" [(ngModel)]="tagNamesToAdd" autocomplete="off"/>

    <label>TagIds to remove:</label>
    <select class="select" #tagSelect (change)="selectTag(tagSelect.value)">
      <option value="" disabled selected></option>
      @for (tag of resourceService.allRepoTagIds(); track tag) {
        <option>
          {{ tag }}
        </option>
      }
      <option value="custom">More...</option>
    </select>

    @if (tagSelect.value === 'custom') {
      <input class="input-pupUp" type="text" (input)="selectTag(customTags)" placeholder="Enter custom pattern" [(ngModel)]="customTags"
             [ngModelOptions]="{standalone: true}"/>
    }

    <button type="submit" class="upload-btn">Update</button>
    <button type="button" class="cancel-btn" (click)="closeDialog()">Cancel</button>
  </form>
</div>
