<div class="upload-dialog">
  <h2>Edit User</h2>
  <form [formGroup]="editUserForm" (submit)="updateUser()">


    <label>Add group to user:</label>
    <select class="select" #groupSelect (change)="onSelectGroupsToAdd(groupSelect.value)">
      <option value="" disabled selected></option>
      @for (groupId of allGroupsToAdd; track groupId) {
        <option>
          {{ groupId }}
        </option>
      }
    </select>

    <label>Remove group from user:</label>
    <select class="select" #groupToRemoveSelect (change)="onSelectGroupsToRemove(groupToRemoveSelect.value)">
      <option value="" disabled selected></option>
      @for (groupId of allGroupsToRemove; track groupId) {
        <option>
          {{ groupId }}
        </option>
      }
    </select>
    <button type="submit" class="upload-btn" [disabled]="editUserForm.invalid || isFormEmpty()">Update</button>
    <button type="button" class="cancel-btn" (click)="closeDialog()">Cancel</button>
  </form>
</div>
