<div class="upload-dialog">
  <h2>Move Resource {{this.dialogData.path}}</h2>
  <form (submit)="moveResource()">

    <label>Repo From:  {{repoFrom}}</label>
    <br>
    <label>Repo to:</label>
    <select class="select" #repoSelect (change)="onSelectRepo(repoSelect.value)">
      <option value="" disabled selected></option>
      @for (repo of allRepos; track repo) {
        <option>
          {{ repo }}
        </option>
      }
    </select>
    <hr>

    <label>Path From:  {{pathFrom}}</label>
    <br>
    <label>Path to:</label>
    <select class="select" #pathSelect (change)="onSelectPath(pathSelect.value)" [disabled]="!repoTo">
      <option value="" disabled selected></option>
      @for (path of allPaths; track path) {
        <option>
          {{ path }}
        </option>
      }

      <option value="custom">Other...</option>
    </select>

    @if (pathSelect.value === 'custom') {
      <input class="input-pupUp" type="text" (input)="onSelectPath(customPath)" placeholder="Enter custom path" [(ngModel)]="customPath"
             [ngModelOptions]="{standalone: true}"/>
    }

    <button type="submit" class="upload-btn">Move</button>
    <button type="button" class="cancel-btn" (click)="closeDialog()">Cancel</button>
  </form>
</div>
