<div class="dropdown">
  <button class="nav-button" (click)="toggleManagement('user')" [disabled]="editUserActive">User management</button>
  <button class="nav-button" (click)="toggleManagement('group')" [disabled]="editGroupActive">Group management</button>
  <!--    Dropdown-->
  <select #permissionSelect *ngIf="allRepos.length > 0" id="permission-select"
          (change)="onPermissionOption(permissionSelect.value)">
    <option value="" disabled selected>Permission management</option>
    <option value="user">
      User permissions
    </option>
    <option value="group">
      Group permissions
    </option>
  </select>
</div>
<!-------------------------------------User management-------------------------------->
@if (editUserActive) {
  <div class="container">
    <h2>User management</h2>
    <br>
    <ul>
      @for (user of userService.allUsers(); track user.userId) {
        <li>
          {{ user.userId }}
          <div class="button-group">
            <button class="edit" (click)="editUser(userService.selectedRepo()?.id,user)"><i
              class="ri-edit-box-line"></i>
            </button>
            <button class="delete" (click)="removeUser(user.userId)"><i
              class="ri-delete-bin-line"></i></button>
          </div>
        </li>
      }
    </ul>
    <br>
    <button class="add" (click)="navigationService.createNewUser()"><i
      class="ri-user-add-line"></i> Add User
    </button>
  </div>
}
<!-------------------------------------Group management-------------------------------->
@if (editGroupActive) {
  <div class="container">
    <h2>Group management</h2>
    <br>
    <ul>
      @for (group of groupService.allGroupsOnRepo(); track group) {
        <li>
          {{ group }}
          <div class="button-group">
            <button class="edit" (click)="editGroup(group)"><i
              class="ri-edit-box-line"></i>
            </button>
            <button class="delete" (click)="removeGroup(group)"><i
              class="ri-delete-bin-line"></i></button>
          </div>
        </li>
      }
    </ul>
    <br>
    <button class="add" (click)="navigationService.createNewGroup()"><i
      class="ri-group-line"></i> Add Group
    </button>
  </div>
}

<!-------------------------------------Permission-------------------------------->
@if (editPermissionActive && permissionOption) {

  <div class="permission-container">
    <h2>Permission management {{ permissionOption }}</h2>
    <!--    Dropdown-->
    <select #repoSelect *ngIf="allRepos.length > 0" id="repo-select" (change)="onRepo(repoSelect.value)">
      <option value="" disabled selected>Select a repository</option>
      <option *ngFor="let repo of allRepos" [value]="repo.id">
        {{ repo.id }}
      </option>
    </select>

    @if (permissionOption == "user"){
      <select #userSelect *ngIf="allRepos.length > 0" id="user-select" (change)="onUser(userSelect.value)">
        <option value="" disabled selected>Select a user</option>
        <option *ngFor="let user of allUsers" [value]="user">
          {{ user }}
        </option>
      </select>
    } @else {
        <select #groupSelect *ngIf="allRepos.length > 0" id="group-select" (change)="onGroup(groupSelect.value)">
          <option value="" disabled selected>Select a group</option>
          <option *ngFor="let group of allGroups" [value]="group">
            {{ group }}
          </option>
        </select>
    }



    <br>
    <hr>
    @if (permissionOption == "user" && selectedRepo && selectedUser) {
      <ul>
        <!--        Überschrift User | Pfad | Rolle-->
        <li class="list-header">
          <span>User</span>
          <span>Path</span>
          <span style="margin-left: 20px">Role</span>
          <span style="align-content: end">Actions</span>
        </li>
        @for (permission of userService.allUserPermissions(); track permission) {
          <li class="list-items">
            <span>{{ this.selectedUser }}</span>
            <span>{{ permission.path }}</span>
            <span>{{ permission.type }}</span>
            <div class="button-group">
              <button class="edit" (click)="editUserPermission(this.selectedRepo,permission.path, permission.type)"><i
                class="ri-edit-box-line"></i>
              </button>
              <button class="delete"
                      (click)="removeUserPermission(this.selectedRepo,this.selectedUser,permission.path)"><i
                class="ri-delete-bin-line"></i></button>
            </div>
          </li>
        }
      </ul>
      <br>
      @if (selectedRepo) {
        <button class="add" (click)="navigationService.createNewUserPermission(this.selectedRepo)"><i
          class="ri-group-line"></i> Add user permission
        </button>
      }
    }

    @if (permissionOption == "group" && selectedRepo && selectedGroup) {
      <ul>
        <!--        Überschrift group | Pfad | Rolle-->
        <li class="list-header">
          <span>group</span>
          <span>Path</span>
          <span style="margin-left: 20px">Role</span>
          <span style="align-content: end">Actions</span>
        </li>
        @for (permission of groupService.allGroupPermissions(); track permission) {
          <li class="list-items">
            <span>{{ this.selectedGroup }}</span>
            <span>{{ permission.path }}</span>
            <span>{{ permission.type }}</span>
            <div class="button-group">
              <button class="edit" (click)="editGroupPermission(this.selectedRepo,permission.path, permission.type)"><i
                class="ri-edit-box-line"></i>
              </button>
              <button class="delete"
                      (click)="removeGroupPermission(this.selectedRepo,this.selectedGroup,permission.path)"><i
                class="ri-delete-bin-line"></i></button>
            </div>
          </li>
        }
      </ul>
      <br>
      @if (selectedRepo) {
        <button class="add" (click)="navigationService.createNewGroupPermission(this.selectedRepo)"><i
          class="ri-group-line"></i> Add group permission
        </button>
      }
    }
  </div>
}

