<div class="upload-dialog">
  <h2>Create new User</h2>
  <form #formRef="ngForm" (ngSubmit)="createNewUser()">

    <label>UserId:</label>
    <input class="input-pupUp" name="userId" type="text" [(ngModel)]="userId" required autocomplete="off"/>

    <label>Password:</label>
    <input class="input-pupUp" name="password" type="password" [(ngModel)]="password" required/>

    <label>Repeat password:</label>
    <input class="input-pupUp" name="repeatPassword" type="password" [(ngModel)]="repeatPassword" required/>

    <label>Role:</label>
    <select class="select" #roleSelect (change)="onSelectRole(roleSelect.value)">
      <option value="" disabled selected></option>
      @for (role of allRoles; track role) {
        <option>
          {{ role }}
        </option>
      }
    </select>

    <label>Groups:</label>
    <select class="select" #groupSelect (change)="onSelectGroup(groupSelect.value)">
      <option value="" disabled selected></option>
      @for (groupId of allGroups; track groupId) {
        <option>
          {{ groupId }}
        </option>
      }
    </select>
    <button type="submit" class="upload-btn" [disabled]="formRef.invalid">Create</button>
    <button type="button" class="cancel-btn" (click)="closeDialog()">Cancel</button>
  </form>
</div>
