<div class="upload-dialog">
  <h2>Edit Tags {{this.dialogData.path}}</h2>
  <form (submit)="onEditTags()">

    <label>Tags to add:</label>
    <select class="select" #tagSelect (change)="selectAddTag(tagSelect.value)">
      <option value="" disabled selected></option>
      @for (tag of resourceService.allRepoTagIds(); track tag) {
        <option>
          {{ tag }}
        </option>
      }
      <option value="custom">More...</option>
    </select>

    @if (tagSelect.value === 'custom') {
      <input class="input-pupUp" type="text" (input)="selectAddTag(customTags)" placeholder="Enter more tags" [(ngModel)]="customTags"
             [ngModelOptions]="{standalone: true}"/>
    }

    <label>Tags to remove:</label>
    <select class="select" #tagRemoveSelect (change)="selectRemoveTag(tagRemoveSelect.value)">
      <option value="" disabled selected></option>
      @for (tag of resourceService.allResourceTagIds(); track tag) {
        <option>
          {{ tag }}
        </option>
      }
      <option value="custom">More...</option>
    </select>

    @if (tagRemoveSelect.value === 'custom') {
      <input class="input-pupUp" type="text" (input)="selectRemoveTag(customTagsToRemove)" placeholder="Enter more tags" [(ngModel)]="customTagsToRemove"
             [ngModelOptions]="{standalone: true}"/>
    }

    <button type="submit" class="upload-btn">Update</button>
    <button type="button" class="cancel-btn" (click)="closeDialog()">Cancel</button>
  </form>
</div>
