<app-navbar></app-navbar>
<div style="padding-top: 40px">
  <app-sidebar></app-sidebar>
  <div [ngClass]="{
  'editor-sidebar': this.navigationService.isEditorActive() && this.navigationService.toggle(),
  'editor': this.navigationService.isEditorActive() && !this.navigationService.toggle(),
  'main-sidebar': !this.navigationService.isEditorActive() && this.navigationService.toggle(),
  'main': !this.navigationService.isEditorActive() && !this.navigationService.toggle()
}">
    @if (resourceService.selectedFile() || this.navigationService.isAdminActive() || this.navigationService.isPermissionActive()) {
      <router-outlet></router-outlet>

    } @else {
      Please Select a resource!
    }
  </div>
</div>
