<div class="upload-dialog">
  <h2>Add user Permission</h2>
  <form [formGroup]="addUserPermissionForm" (submit)="addUserPermission()">

    <label>Add user to Permission:</label>
    <select class="select" #userSelect (change)="onSelectUsersToAdd(userSelect.value)">
      <option value="" disabled selected></option>
      @for (userId of allUsersToAdd; track userId) {
        <option>
          {{ userId }}
        </option>
      }
    </select>

    <label>Add permission:</label>
    <select class="select" #permissionSelect (change)="onSelectPermissionToAdd(permissionSelect.value)">
      <option value="" disabled selected></option>
      @for (permission of allPermissions; track permission) {
        <option>
          {{ getPermissionName(permission) }}
        </option>
      }
    </select>

    <label>Permission path:</label>
    <select class="select" #pathSelect (change)="onSelectPath(pathSelect.value)">
      <option value="" disabled selected></option>
      @for (path of allPaths; track path) {
        <option>
          {{ path }}
        </option>
      }

      <option value="custom">Other...</option>
    </select>

    @if (pathSelect.value === 'custom') {
      <input class="input-pupUp" type="text" (input)="onSelectPath(customPath)" placeholder="Enter custom path" [(ngModel)]="customPath"
             [ngModelOptions]="{standalone: true}"/>
    }

    <button type="submit" class="upload-btn" [disabled]="addUserPermissionForm.invalid || isFormEmpty()">Update</button>
    <button type="button" class="cancel-btn" (click)="closeDialog()">Cancel</button>
  </form>
</div>
