<div class="upload-dialog">
  <h2>Update user Permission</h2>
  <form [formGroup]="addUserPermissionForm" (submit)="addUpdatePermission()">

    <label>Change user:</label>
    <select class="select" #userSelect (change)="onSelectUsersToAdd(userSelect.value)">
      <option value="" disabled selected></option>
      @for (userId of allUsersToAdd; track userId) {
        <option>
          {{ userId }}
        </option>
      }
    </select>

    <label>Change permission:</label>
    <select class="select" #permissionSelect (change)="onSelectPermissionToAdd(permissionSelect.value)">
      <option value="" disabled selected></option>
      @for (permission of allPermissions; track permission) {
        <option>
          {{ getPermissionName(permission) }}
        </option>
      }
    </select>

    <label>Permission path:</label>
    <input class="input-pupUp" formControlName="pathToAdd" type="text" readonly/>

    <button type="submit" class="upload-btn" [disabled]="isFormEmpty()">Update</button>
    <button type="button" class="cancel-btn" (click)="closeDialog()">Cancel</button>
  </form>
</div>

