<div class="upload-dialog">
  <h2>Edit User</h2>
  <form [formGroup]="editUserForm" (submit)="updateUser()">

    <label>Add user to group:</label>
    <input formControlName="groupsToAdd" type="text" (focus)="openGroupsToAddDropdown()"
           (click)="$event.stopPropagation()" autocomplete="off"/>

    <label>Remove user from group:</label>
    <input class="remove" formControlName="groupsToRemove" type="text" (click)="$event.stopPropagation()"
           (focus)="openGroupsToRemoveDropdown()"
           autocomplete="off"/>

<!--    <hr>-->
<!--    <label>Add permission:</label>-->
<!--    <input formControlName="permissionToAdd" type="text" (focus)="openPermissionToAddDropdown()"-->
<!--           (click)="$event.stopPropagation()" autocomplete="off"/>-->

<!--    <label>Permission path:</label>-->
<!--    <input formControlName="pathToAdd" type="text" (focus)="openPathDropdown()"-->
<!--           (click)="$event.stopPropagation()" autocomplete="off"/>-->

<!--    <label>Remove permission path:</label>-->
<!--    <input formControlName="permissionToRemove" type="text" (focus)="openPermissionToRemoveDropdown()"-->
<!--           (click)="$event.stopPropagation()" autocomplete="off"/>-->

    <button type="submit" class="upload-btn" [disabled]="editUserForm.invalid || isFormEmpty()">Update</button>
    <button type="button" class="cancel-btn" (click)="closeDialog()">Cancel</button>
  </form>
</div>

<!----------------------------------------------------DropDowns-------------------------------------------------------->

@if (isGroupsToAddActive && allGroupsToAdd.length > 0) {
  <div class="search-results-addGroupId">
    @for (groupId of allGroupsToAdd; track groupId) {
      <div class="search-box" (click)="onSelectGroupsToAdd(groupId)">
        <span class="repo-id">{{ groupId }}</span>
      </div>
    }
  </div>
}

@if (isGroupsToRemoveActive && allGroupsToRemove.length > 0) {
  <div class="search-results-removeGroupId">
    @for (groupId of allGroupsToRemove; track groupId) {
      <div class="search-box" (click)="onSelectGroupsToRemove(groupId)">
        <span class="repo-id">{{ groupId }}</span>
      </div>
    }
  </div>
}

@if (isPermissionToAddActive && allPermissions.length > 0) {
  <div class="search-results-addPermission">
    @for (permission of allPermissions; track permission) {
      <div class="search-box" (click)="onSelectPermissionToAdd(getPermissionName(permission))">
        <span class="repo-id">{{ getPermissionName(permission) }}</span>
      </div>
    }
  </div>
}

@if (isPathActive && allPaths.length > 0) {
  <div class="search-results-addPath">
    @for (path of allPaths; track path) {
      <div class="search-box" (click)="onSelectPath(path)">
        <span class="repo-id">{{ path }}</span>
      </div>
    }
  </div>
}

@if (isPermissionToRemoveActive && allPermissions.length > 0) {
  <div class="search-results-removePermission">
    @for (permission of allPermissionsToRemove; track permission) {
      <div class="search-box" (click)="onSelectPermissionToRemove(permission)">
        <span class="repo-id">{{ permission }}</span>
      </div>
    }
  </div>
}
