<div class="upload-dialog">
  <h2>Add group</h2>
  <form (submit)="onEditGroup()">

    <label>GroupId to add:</label>
    <input class="input-pupUp" name="addGroupIds" type="text" [(ngModel)]="groupIdToAdd" autocomplete="off"/>

    <label>GroupName to add:</label>
    <input class="input-pupUp" name="addGroupNames" type="text" [(ngModel)]="groupNameToAdd" autocomplete="off"/>

    <label>User to add:</label>
    <select class="select" #userSelect (change)="onSelectUser(userSelect.value)" [disabled]="!groupIdToAdd || !groupNameToAdd">
      <option value="" disabled selected></option>
      @for (user of allUsers; track user) {
        <option>
          {{ user }}
        </option>
      }
    </select>

    <button type="submit" class="upload-btn">Update</button>
    <button type="button" class="cancel-btn" (click)="closeDialog()">Cancel</button>
  </form>
</div>
