<ul>

  @for (child of (children) | keyvalue; track child.key) {
    <li (mouseover)="hoveredRepo = child.key"
        (mouseleave)="hoveredRepo = null">
      @if (parentRepoId != null){
        <a (click)="toggleChildren(child.key); $event.preventDefault()">
          {{ child.key }}
        </a>
      }

      <!-- Ressourcen anzeigen -->
      @if (isOpen[child.key]) {
        <ul>
          <li *ngFor="let resource of child.value.resources"
              (click)="resourceService.onSelectResource(resource)"
              (mouseover)="hoveredResource = resource.path + ' ' + resource.repoId"
              (mouseleave)="hoveredResource = null"
              [ngClass]="{'active': resourceService.selectedFile()?.path === resource.path && resource.repoId === resourceService.selectedFile()?.repoId}">

            @if (resource.permissionType != "DENY") {
              {{ resourceService.splitResourcePath(resource.path) }}
              @if (resource.permissionType != "VIEW" && (hoveredResource === resource.path + ' ' + resource.repoId || resourceService.selectedFile()?.path === resource.path && resource.repoId === resourceService.selectedFile()?.repoId)) {
                <button class="menu-button"
                        (click)="openResourceMenu($event, resource)">
                  &#x22EE;
                </button>
              }
              @if (selectedResource === resource && resource.permissionType != "VIEW") {
                <div
                  class="popup-menu"
                  [style.top.px]="menuPosition.y"
                  [style.left.px]="menuPosition.x">
                  <ul>
                    <li (click)="navigationService.editResourceTags(resource.repoId,resource.path)">Edit tags</li>
                    <li (click)="navigationService.moveResource(resource.repoId, resource.path)">Move resource</li>
                    <li (click)="deleteResource(resource)">Delete resource</li>
                  </ul>
                </div>
              }
            }
          </li>

          <!-- Rekursion für Unterordner -->
          @if (child.value.children && Object.keys(child.value.children).length > 0) {
            <app-tree-child
              [children]="child.value.children"
              [parentRepoId]="parentRepoId"
              [parentPath]="buildFullPath(child.key)">
            </app-tree-child>
          }
        </ul>
      }
    </li>
  }
</ul>
